@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

// Color Variables
// refer: https://sg.oberlo.com/blog/color-combinations-cheat-sheet
$red: #fb475e;
$blue-green: #019992;
$mint: #44EE77;
$yellow-orange: #FFB001;
$blue-grotto: #43B0F1;
$white: #E8EEF1;
$blue: #125688;
$offwhite: #fafafa;
$lightgrey: #EDEEED;
$lightgray: $lightgrey;// OH Canada!

// Font Variables
$shadow-light-font: 'Shadows Into Light';

// Animation Variables
$offsets: translateX(-50%) translateY(-50%);