@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

// Color Variables
$red: #fb475e;
$blue-green: #019992;
$yellow-orange: #FFB001;
$blue: #125688;
$offwhite: #fafafa;
$lightgrey: #EDEEED;
$lightgray: $lightgrey;// OH Canada!

// Font Variables
$shadow-light-font: 'Shadows Into Light';

// Animation Variables
$offsets: translateX(-50%) translateY(-50%);