@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

// Color Variables
// refer: https://sg.oberlo.com/blog/color-combinations-cheat-sheet
$red: #fb475e;
$blue-green: #019992;
$mint: #44EE77;
$yellow-orange: #FFB001;
$dark-orange: #FF8F45;
$gold: #ff8f45b4;
$blue-grotto: #43B0F1;
$white: #fdfdfd;
$blue: #125688;
$offwhite: #f7f7f7;
$lightgrey: #dfdfdf;
$lightgray: $lightgrey;// OH Canada!
$ebony: #3c3431;
$black: #212529;

// Font Variables
$shadow-light-font: 'Shadows Into Light';

// Animation Variables
$offsets: translateX(-50%) translateY(-50%);