@import '../App.scss';


.friends-start {
	display: inline flex;
	.friends-red {
		position: relative;
		color: $red;
		// bottom: 30px;
	}
	.friends-blue {
		position: relative;
		color: $blue-green;
		// bottom: 30px;
	}
	.friends-yellow {
		position: relative;
		color: $yellow-orange;
		// bottom: 30px;
	}
}