@import '../abstracts/variables';


.friends{
    font-family: $shadow-light-font;
}

#navMenu{
	a{
		color: #fdfdfd;
		font-size: 22px;	
	}

	a:hover{
		color: $dark-orange;
	}

	#profileLink{
		width: 150px;
		margin-right: 12px;
	}
}
