@import '../App.scss';

.grid-figure {
	flex-basis: calc(33.333% - 4rem);
	flex-grow: 1;
	flex-shrink: 0;
	margin: 0 2rem 2rem 2rem;
	padding: 2rem;
	border: 1px solid $lightgray;
	background: $white;
	box-shadow: 0 0 0 5px rgba(0,0,0,0.03);
	position: relative;
}


.grid-photo-wrap {
	position: relative;
}

.grid-photo {
	width: calc(100% + 4rem);
	margin-left: -2rem;
	margin-top: -2rem;
	max-width: none;
}

.likes-heart {
	background: url("http://f.cl.ly/items/3Y373q2Q3J3Y1j203n0m/Bitmap-3.png") center no-repeat;
	background-size: contain;
	font-size: 2rem;
	padding: 1rem;
	position: absolute;
	color: $blue;
	left: 50%;
	top: 50%;
	pointer-events: none;
}

.control-buttons {
	display: flex;
	justify-content: space-between;
}

.speech-bubble {
	width: 1.5rem;
	height: 1.25rem;
	background: $blue;
	display: inline-block;
	border-radius: 50%;
	position: relative;
	&:after {
		display: inline-block;
		position: absolute;
		content: '';
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 1.25rem 1.25rem 0;
		border-color: transparent $blue transparent transparent;
		top: 30%;
		left: 0;
	}
}
