
.interestRow{
	margin-bottom: 25px;
}


.interestImg{
	width: 200px;
	height: 200px;
	object-fit: contain;
	// border: 2px solid grey;
}

.sliderContainer{
	display: block;
	// height: 200px;
	margin-top: 50px;
}